#slider {
	display: none;
	position: relative;
	width: 520px;
	height: 380px;
	background: url(../loader.gif) no-repeat center;
}

#slider img {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
}

#prev, #next {
	display: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> 088a8d37dd1b431a2eb253c0d81add62afdea247
